node_modules
.next
target
dist
.env
.env.local
*.log
# Keys (IMPORTANT)
*_keypair.json
win_keypair.json
arcium_keypair.json
wallet.json
id.json
# Editor
.vscode
.idea
*.swp
# OS
.DS_Store
Thumbs.db